[Unit]
Description=SWTPM
Before=parsec.service

[Service]
Restart=always
RestartSec=5s
WorkingDirectory=/userdata
ExecStart=/usr/bin/tpm_server

[Install]
WantedBy=default.target
