[Unit]
Description=SWTPM
Before=parsec.service

[Service]
User=parsec
Type=forking
Restart=always
RestartSec=5s
WorkingDirectory=/userdata
ExecStartPre=+mkdir -m 0700 -p /userdata/parsec
ExecStartPre=+chown parsec /userdata/parsec
ExecStart=/usr/bin/swtpm.sh
ExecStop=/bin/tpm2_shutdown -T mssim

[Install]
WantedBy=default.target
