[Unit]
Description=SWTPM changeauth
PartOf=swtpm.service
After=swtpm_tpm_startup.service

[Service]
WorkingDirectory=/userdata
ExecStartPre=/bin/sleep 6
ExecStart=-/usr/bin/tpm2_changeauth -c owner tpm_pass

[Install]
WantedBy=swtpm.service
